# ignore everything
*

# but subdirectories itself,
!*/

# git-related files,
!.gitignore
!.gitattributes
!.gitkeep

# explanations,
!*.md

# and C/CPP sources.
!*.c
!*.cpp

# No CMAKE generated 
**/CMakeFiles/*
